---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1 class="">Astro</h1>
  </body>
  <script>
    import $ from "jquery";

    // > Types import
    import type { LocationData, GeolocationData } from "../types/location";
    import type { WeatherData, HourlyWeather } from "../types/weather";

    // > Library functions import
    import { getGeolocation } from "../lib/geolocation";
    import { searchPlaces } from "../lib/placekit";
    import { getWeatherInfo } from "../lib/weather";
    import { mapHourly } from "../lib/weather-mapper";

    let userLocation: GeolocationData;
    let weatherInfo: WeatherData;

    // ! USAGE TEST of the searchPlaces function
    const query = "Egypt";
    const locationResults = await searchPlaces(query);
    console.warn(
      "Location Info (formatted): \n",
      locationResults.map((result: LocationData) => ({
        name: result.name,
        country: result.country,
        latitude: result.lat,
        longitude: result.lat,
      })),
    );

    // ! USAGE TEST of the getWeatherInfo function
      weatherInfo = await getWeatherInfo(31.2357, 30.0444);
      console.warn("Weather Info (formatted): \n", {
        currentTemperature: weatherInfo.current.temperature_2m,
        daily: weatherInfo.daily,
        // ? Hourly data for every 3 hours as requested for member 5
        hourly: mapHourly(weatherInfo.hourly)
          
      });

    // ----
    /**
     * @function initApp
     * @description This function initializes the application by first attempting to get the user's geolocation.
     * If successful, it uses the obtained coordinates to fetch weather information. If geolocation fails (e.g., due to user denial or technical issues),
     * it falls back to using Vancouver's coordinates to fetch weather information.
     */
    async function initApp() {
      try {
        userLocation = await getGeolocation();

        weatherInfo = await getWeatherInfo(userLocation.lng, userLocation.lat);
        // console.log(weatherInfo)
      } catch (error) {
        userLocation = {
          // Vancouver's coordinates as fallback
          lat: 49.2827,
          lng: -123.1207,
        };
        console.error(
          "Error getting geolocation, using fallback location:",
          error,
        );
        weatherInfo = await getWeatherInfo(userLocation.lng, userLocation.lat);
        console.log(weatherInfo);
      }
    }

    initApp();
  </script>
</html>
