---
import "../styles/global.css";
// import CurrentWeatherCard from "../components/CurrentWeatherCard.astro";
import CurrentWeather from "../components/CurrentWeather.astro";

// import TopBar from "../components/TopBar.astro";
import FavCitiesDropdown from "../components/FavCitiesDropdown.astro";
import SearchBar from "../components/SearchBar.astro";

// Import team components
import DayCard from "../components/DayCard.astro";
import HoursCard from "../components/HoursCard.astro";

import SunRiseSet from "../components/SunRiseSet.astro";
import WeatherDetails from "../components/WeatherDetails.astro";

import Image from "astro/components/Image.astro";
import cloudyCat from "../assets/cats/cloudy.png";

import { getWeatherInfo } from "../lib/weather";

// Default city: Vancouver, Canada
const DEFAULT_CITY = {
  name: "Vancouver",
  latitude: 49.2827,
  longitude: -123.1207,
};

let weatherInfo = undefined;
try {
  weatherInfo = await getWeatherInfo(
    DEFAULT_CITY.longitude,
    DEFAULT_CITY.latitude,
  );
} catch (e) {
  weatherInfo = undefined;
}

const placeholderDaily = Array.from({ length: 5 }).map((_, i) => ({
  date: "",
  maxTemp: 0,
  minTemp: 0,
  weatherCode: 0,
}));
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>StrCats Weather</title>
  </head>
  <body class="grid grid-cols-3 gap-4 min-h-screen pt-8 px-15">
    <!-- <h1 class="">Weather Forecast</h1> -->
    <header class="flex flex-col flex-1  h-full">
      <CurrentWeather />
    </header>

    <section class="flex flex-col gap-6 flex-1 h-full">
      <!--  > Favourite Cities Dropdown -->
      <FavCitiesDropdown />
      <!-- > 5 Day Forecast -->
      <div class="max-w-150 w-full mt-6 bg-white rounded-3xl p-5 shadow-sm">
        <h3 class="text-2xl font-bold text-gray-700 tracking-tight mb-4 ml-2">
          5-Day Forecast
        </h3>

        <div
          id="daily-forecast-container"
          class="flex flex-col gap-2 font-roboto md:flex-row items-stretch w-full overflow-hidden border-none divide-none"
        >
          {placeholderDaily.map((forecast) => <DayCard forecast={forecast} />)}
        </div>
      </div>
      <!-- > Sunrise Sunset -->
      <SunRiseSet />
      <!-- > Weather Details -->
      <WeatherDetails />
    </section>
    <section class="h-[90%] flex flex-col ">
      <!-- > Searchbar -->
      <SearchBar />
      <!-- TODO Change to upper -->
      <!-- <h3
        id="hourly-title"
        style="margin-left: 12px; color: #333; margin-top: 30px;"
      >
        Hourly Forecast
      </h3> -->
      <div id="hourly-range-container" class="flex-1 flex flex-col h-full">
        <HoursCard />
      </div>
    </section>
  </body>

  <script>
    import { initWeatherApp } from "../lib/init-weather-app";

    initWeatherApp();
  </script>
</html>
