---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1 class="">Astro</h1>
  </body>
  <script>
    import $ from "jquery";

    import { commonCountries } from "../constants/countries";

    import type { LocationData, GeolocationData } from "../types/location";
    import type { WeatherData, HourlyWeather } from "../types/weather";

    // > Constants
    const PLACEKIT_API_URL = "https://api.placekit.co/search";

    let userLocation: GeolocationData;
    let weatherInfo: WeatherData;

    // ---> Location Functionality <---
    /**
     * @function getGeolocation
     * @description This function attempts to get the user's current geolocation using the browser's Geolocation API. 
     * If successful, it resolves with an object containing the latitude and longitude. 
     * If geolocation is not supported or if there is an error (e.g., user denies permission), it rejects with an error.
     */
    function getGeolocation(): Promise<GeolocationData> {
      return new Promise((resolve, reject) => {
        if (!navigator.geolocation) {
          reject(new Error("Geolocation is not supported"));
          // TODO set Fallback to vancouver's coordinates
          return;
        }

        navigator.geolocation.getCurrentPosition(
          ({ coords }) => {
            resolve({
              lat: coords.latitude,
              lng: coords.longitude,
            });
          },
          (error: GeolocationPositionError) => {
            reject(error);
          },
          { timeout: 10000},
        );
      });
    }

    /**
     * @function searchPlaces
     * @param query - Input text value that the user types in the search field
     * @description This function gets the location results from the PlaceKit API based on the user's query.
     * @returns Array<LocationData[]> An array of location results matching the query, filtered by common countries and types
     */
    async function searchPlaces(query: string): Promise<LocationData[]> {
      const response = await fetch(PLACEKIT_API_URL, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "x-placekit-api-key": `${import.meta.env.PUBLIC_PLACEKIT_API_KEY}`,
        },
        body: JSON.stringify({
          query: query,
          countries: commonCountries,
          language: "en",
          types: ["street", "city"],
          maxResults: 5,
        }),
      });
      const data = await response.json();
      return data.results;
    }

    // ! USAGE TEST of the searchPlaces function
    const query = "Egypt";
    const locationResults = await searchPlaces(query);
    console.warn(
      "Location Info (formatted): \n",
      locationResults.map((result: LocationData) => ({
        name: result.name,
        country: result.country,
        latitude: result.lat,
        longitude: result.lat,
      })),
    );

    /**
     *
     * @param lng - Longitude of the location for which to fetch weather information
     * @param lat - Latitude of the location for which to fetch weather information
     * @description This function fetches weather information from the Open-Meteo API based on the provided
     * longitude and latitude.
     * @returns <WeatherData> An object containing current temperature, daily weather data, and hourly weather
     * data for every 3 hours of the next 5 days.
     */
    async function getWeatherInfo(
      lng: number,
      lat: number,
    ): Promise<WeatherData> {
      const response = await fetch(
        `https://api.open-meteo.com/v1/forecast?latitude=${lat}&longitude=${lng}&current=temperature_2m&hourly=temperature_2m,rain,snowfall&daily=sunrise,sunset&timezone=auto&forecast_days=5`,
      );
      const data = await response.json();

      return data;
    }

    // ! USAGE TEST of the getWeatherInfo function
    weatherInfo = await getWeatherInfo(31.2357, 30.0444);
    console.warn("Weather Info (formatted): \n", {
      currentTemperature: weatherInfo.current.temperature_2m,
      daily: weatherInfo.daily,
      // ? Hourly data for every 3 hours as requested for member 5
      hourly: weatherInfo.hourly.time
        .map(
          (time: string, index: number): HourlyWeather => ({
            time,
            temperature: weatherInfo.hourly.temperature_2m[index],
            rain: weatherInfo.hourly.rain[index],
            snowfall: weatherInfo.hourly.snowfall[index],
          }),
        )
        .filter((_: HourlyWeather, index: number) => index % 3 === 0),
    });

    // ----
    /**
     * @function initApp
     * @description This function initializes the application by first attempting to get the user's geolocation.
     * If successful, it uses the obtained coordinates to fetch weather information. If geolocation fails (e.g., due to user denial or technical issues), 
     * it falls back to using Vancouver's coordinates to fetch weather information.
     */
    async function initApp() {
      try {
        userLocation = await getGeolocation();

        weatherInfo = await getWeatherInfo(userLocation.lng, userLocation.lat);
        console.log(weatherInfo);
      } catch (error) {
        userLocation = { // Vancouver's coordinates as fallback
          lat: 49.2827,
          lng: -123.1207,
        };
        console.error("Error getting geolocation, using fallback location:", error);
        weatherInfo = await getWeatherInfo(userLocation.lng, userLocation.lat);
        console.log(weatherInfo);
      }
    }

    initApp();
  </script>
</html>
