---
// src/components/DayCard.astro
import type { DailyForecast } from "../types/weather";

interface Props {
  forecast: DailyForecast;
}

const { forecast } = Astro.props;
---

<div class="day-card flex-1 min-w-18.75 md:min-w-0 shrink-0 flex flex-col items-center justify-between p-3 cursor-pointer hover:shadow-inner rounded-lg lg:rounded-2xl transition-all duration-300 text-center [&.active]:bg-gray-100 shadow-black/50 [&.active]:shadow-inner border-none! [&.active]:rounded-[24px]" data-date={forecast.date}>
  
  <div class="day-name text-center  font-black text-gray-700 tracking-tight mb-2">
    <span class="block text-lg font-semibold">--</span>
    <span class="block text-base text-gray-400 font-normal mt-0.5">--/--</span>
  </div>
  
  <div class="weather-icon-temp flex items-center justify-center my-1 w-16 h-16">
    </div>

  <div class="temp-range flex md:flex-col items-center gap-0.5 mt-2 text-xs">
    <span class="max-temp text-lg font-extrabold text-gray-700">--°</span>
    <span class="min-temp text-base font-medium text-gray-400">--°</span>
  </div>
</div>