---
import favPawIcon from "../assets/icons/fav=paw.svg";
---

<div class="relative w-1/2 md:w-full xl:min-w-96">
  <span
    class="pointer-events-none absolute left-4 top-1/2 -translate-y-1/2"
    aria-hidden="true"
  >
    <img
      src={favPawIcon.src}
      alt=""
      width="40"
      height="40"
      class="h-8 w-8 object-contain"
    />
  </span>
  <button
    id="favorite-cities-trigger"
    type="button"
    class="h-12 w-full cursor-pointer rounded-full border border-slate-200 bg-white pl-12 pr-10 text-left font-normal font-roboto text-sm shadow-inner shadow-black/40 outline-none"
  >
    Favorite cities
  </button>
  <span
    class="pointer-events-none absolute right-4 top-1/2 -translate-y-1/2 text-3xl text-[#57A0EE]"
    aria-hidden="true">▾</span>
  <ul
    id="favorite-cities-list"
    class="absolute left-0 right-0 top-full z-20 mt-1 hidden max-h-56 overflow-auto rounded-2xl border border-violet-100 bg-white py-1 text-sm shadow-lg"
    role="listbox"
  >
  </ul>
</div>
