---

---

<div
  class="bg-white/90 rounded-3xl font-roboto text-center px-6 py-3 shadow-inner shadow-black/50 flex flex-col w-full"
>
  <div
    class="flex items-center flex-row justify-between border-b border-[#DBE2E6] py-2"
  >
    <span class="text-gray-700 lg:text-xl font-semibold flex flex-row gap-2.5">
      <img
        src="/src/assets/icons/humidity.svg"
        alt="Humidity"
        class="w-5 h-5 lg:w-8 lg:h-8"
      /> Humidity
    </span>
    <span id="hero-humidity" class="text-black lg:text-xl">-- %</span>
  </div>
  <div
    class="flex items-center flex-row justify-between border-b border-[#DBE2E6] py-2"
  >
    <span class="text-gray-700 lg:text-xl font-semibold flex flex-row gap-2.5">
      <img src="/src/assets/icons/wind.svg" alt="Wind" class="w-5 h-5 lg:w-8 lg:h-8" /> Wind
    </span>
    <span id="hero-wind" class="text-black lg:text-xl">-- km/h</span>
  </div>
  <div
    class="flex items-center flex-row justify-between border-b border-[#DBE2E6] py-2"
  >
    <span class="text-gray-700 lg:text-xl font-semibold flex flex-row gap-2.5">
      <img
        src="/src/assets/icons/entypo_air.svg"
        alt="Air Quality"
        class="w-5 h-5 lg:w-8 lg:h-8"
      /> Air Quality
    </span>
    <span id="hero-air-quality" class="text-black lg:text-xl">-- AQI</span>
  </div>

  <div class="flex items-center flex-row justify-between py-2">
    <span class="text-gray-700 lg:text-xl font-semibold flex flex-row gap-2.5">
      <img
        src="/src/assets/icons/mdi_uv-ray.svg"
        alt="UV Index"
        class="w-5 h-5 lg:w-8 lg:h-8"
      /> UV Index
    </span>
    <span id="hero-uv" class="text-black lg:text-xl">--</span>
  </div>
</div>
